.stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
}
.step {
    display: table-cell;
    position: relative;
    padding: 1.5rem;
    z-index: 2;
    width: 15%;
 }

.step-circle {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    z-index: 2;
    border: 2px solid #d9e2ec;
}
.step-circle::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-top: 4px;

    border-radius: 50%;
    background-color: #d4d4d4;
}
#done .step-circle::before{
    display:none
 }


.step-title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.step-title,
.step-optional {
    text-align: center;
    color: #829ab1;
}
.step-optional {
    font-size: 0.75rem;
    font-style: italic;
    color: #9fb3c8;
}

.step-bar-left,
.step-bar-right {
    position: absolute;
    top: calc(2rem + 5px);
    /*height: 5px;*/
    /*background-color: #d9e2ec;*/
    border: 2px dashed #ddd;
    border-width: 2px 0;
}
.step-bar-left {
    width: calc(100% - 2rem);
    right: 58%;
    margin-left: 1rem;
    z-index: -1;
}
.step-bar-right {
    width: 0;
    right: 50%;
    margin-left: 1rem;
    z-index: -1;
    transition: width 500ms ease-in-out;
}

#done .step-bar-left {
    /*background-color:#2fcff4;*/
    border: 2px dashed #2fcff4;
    z-index: 3;
    width: calc(100% - 2.5rem);
}


#await .step-circle {

    border: 2px solid #2fcff4;
}

#await .step-circle::before{
    background-color:#2fcff4;
}

#done .step-circle {
    background-color: #002e7b;
    border: 2px solid #002e7b;
    color: #FFFFFF;
}
#done .step-circle:after {
    font-weight: bold;
    content: "✓";
    font-size: 22px;
 }


.step-title {
    color:#102A43;
}


/*maps*/

div#map {
    position: relative!important;
    overflow: hidden!important;
    width:100%;
    height:519px;
    /*display: contents;*/
}
.gm-style{
    position: relative;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 35%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

